# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
terraform.tfvars.local
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive
*.pem
*.key
secrets/
.env

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml
.vscode/
